.opportunity-payment-table {
    &__filters {
        align-items: center;
        border-radius: var(--mc-border-radius-xs);
        border: var(--mc-border-hairline) var(--mc-gray-500);
        display: flex;
        height: 67px;
        justify-content: space-between;
        padding: 0 24px;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__table-actions {
        display: flex;
        gap: 12px;

        .iconify {
            cursor: pointer;
            font-size: 18px;
        }
    }

    &__download-btn {
        display: flex;
        padding: 24px 38px 0;
        justify-content: flex-end;
    }

    /* estilização específica de componentes internos */
    .entity-table__table {
        .mc-select {
            &__selected-option {
                padding-block: 3px;

                &::after {
                    top: 12px;
                    right: 20px;
                }
            }

            &__option {
                padding-block: 3px;
            }
        }
    }
}