.opportunity-payment-table {
    &__filters {
        align-items: center;
        border-radius: var(--mc-border-radius-xs);
        border: var(--mc-border-hairline) var(--mc-gray-500);
        display: flex;
        height: 67px;
        justify-content: space-between;
        padding: 0 24px;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__table-actions {
        display: flex;
        gap: 12px;

        .iconify {
            cursor: pointer;
            font-size: 18px;
        }
    }

    &__download-btn {
        display: flex;
        padding: 24px 38px 0;
        justify-content: flex-end;
    }

    /* estilização específica de componentes internos */
    .mc-select {
        &__selected-option {
            padding-block: size(3);

            &::after {
                top: size(12);
                right: size(20);
            }
        }

        &__option {
            padding-block: size(3);
        }
    }
}